

/**
* Greyscale
*/
$white: #ffffff;
$light_grey: #efefef;
$grey: #d8d8d8;
$medium_grey: #979797;
$dark_grey: #3b3b3b;
$darkest_grey: #383838;

/**
* ????
*/
$mystery_white: #f3f8fc;
$mystery_light_grey: #afafaf;
$mystery_grey: #343434;


/**
* Brand
*/
$primary: #6b55a0;
$accent: #4d6eb3;


/**
* Pallete
*/
$green: #81c05c;
$red: #c80c20;
$yellow: #ed9518;
