/**
* Footer
*/

.c-footer {
  border-top: 1px solid $medium_grey;
  justify-content: flex-end;
  padding: 24px 20px;
  position: relative;
}

.c-footer img {
  position: absolute;
  left: 20px;
  top: 14px;
  height: 36px;
  width: 36px;
}

.c-footer a {
  color: $darkest_grey;
  text-decoration: none;
  margin-left: 20px;
}
